<!doctype html>
<html lang="en" ng-app="toolboxApp">
<head>
	<meta charset="utf-8">
	<title>ToolBox</title>
	<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css">
	<script src="/bower/jquery/dist/jquery.js"></script>
	<script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower/angular/angular.js"></script>
	<script src="/bower/angular-route/angular-route.js"></script>
	<script src="/bower/angular-resource/angular-resource.js"></script>
	<script src="/bower/angular-cookies/angular-cookies.js"></script>
    <script src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>


	<script src="js/app.js"></script>

	<script src="js/ctrlIndex.js"></script>
	<script src="js/ctrlRegister.js"></script>
	<script src="js/ctrlLogin.js"></script>
	<script src="js/ctrlMsgBox.js"></script>

	<script src="js/ctrlToolbox.js"></script>

	<script src="js/ctrlTodolist.js"></script>
	<script src="js/ctrlTodolistAdd.js"></script>
	<script src="js/ctrlTDType.js"></script>
	
	<script src="js/svcTodolist.js"></script>
	<script src="js/svcUser.js"></script>
	<script src="js/svcTDType.js"></script>
	<script src="js/svcDetailDlg.js"></script>
	<style>
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			/* Set the fixed height of the footer here */
			height: 50px;
			background-color: #f5f5f5;
		}

		.container .text-muted {
	  		margin: 15px 0;
  		}

		td {
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
			-moz-user-select: none; /* mozilla browsers */
			-khtml-user-select: none; /* webkit (konqueror) browsers */
			-ms-user-select: none; /* IE10+ */
		}
	</style>
</head>
<body ng-controller="IndexCtrl">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="">Toolbox</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ng-if="isLoggedin()" class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Todo List <span class="caret"></span></a>

		        <ul class="dropdown-menu" role="menu">
		        	<li><a href="#/todolist">Todo List</a></li>
				<li><a href="#/todolist/addOne">Add Todo</a></li>
		        	<li ng-if="isAdmin()" role="separator" class="divider"></li>
		        	<li ng-if="isAdmin()"><a href="#/todolist/config/TDCategory">TDCategory</a></li>
		        	<li ng-if="isAdmin()"><a href="#/todolist/config/TDPriority">TDPriority</a></li>
		        	<li ng-if="isAdmin()"><a href="#/todolist/config/TDStatus">TDStatus</a></li>
		        </ul>
	        </li>
			<li ng-if="isAdmin()">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">User List <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/user">User list</a></li>
		        	<li role="separator" class="divider"></li>
		        	<li><a href="#/todolist/config/UserRole">UserRole</a></li>
		        	<li><a href="#/todolist/config/UserStatus">UserStatus</a></li>
				</ul>	
			</li>
	        <li><a href="">About</a></li>
	      </ul>
		  <ul class="nav navbar-nav navbar-right">
			  <li ng-if="isLoggedin()" class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">{{getUsername()}} <span class="caret"></span></a>
			  	<ul class="dropdown-menu" role="menu">
					<li><a href="" ng-click="logout()" >Log Out</a></li>
				</ul>
			  </li>
		  	<li ng-if="isAdmin()">
				<a href="" ng-click="register()">Register</a>
			</li>
			<li ng-if="!isLoggedin()">
				<a href="" ng-click="login()">Login</a>
			</li>
		  </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div ng-view></div>

	<div class="footer">
		<div class="container">
			<div class="text-muted">
				<span>© SomeoneHappy</span>
			</div>
		</div>
	</div>
</body>
</html>
