<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>{{title}}</h1>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form ng-submit="submitForm()">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" name="name" ng-model="category.name" ng-trim="true" ng-minlength="1" ng-maxlength="20" value="{{category.name}}"></td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" name="description" ng-model="category.description" ng-trim="true" ng-minlength="1" ng-maxlength="250" value="{{category.description}}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><input type="submit" value="{{btnName}}"></td>
					</tr>
				</tfoot>
			</table>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>


