<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Todo List</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			Search: <input ng-model="query">
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-dblclick="showDetail(category._id)" ng-repeat="category in categories | filter: query">
						<td>{{category.name}}</td>
						<td>{{category.description | limitTo:20}}</td>
						<td><button type="button" class="btn btn-primary" ng-click="editIt(category._id)">EDIT</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="deleteIt(category._id)">DELETE</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
