<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">{{title}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<form name="newTodo" ng-submit="submitForm()">
			<div class="form-group">
				<label>Short Description</label>
				<input type="text" class="form-control" ng-disabled="isEdit" require ng-model="todo.shortDesc" ng-maxlength="128">
			</div>
			<div class="form-group">
				<label>Description</label>
				<input type="text" class="form-control"  ng-model="todo.description" ng-maxlength="512">
			</div>
			<div class="form-group">
				<label>Date Due</label>
			    	<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="todo.dateDue" is-open="opened" min-date="minDate" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
	  						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
		  			</p>
			</div>
			<div class="form-group">
				<label>Category</label>
				<select ng-model="todo.category" ng-disabled="isEdit" class="form-control">
					<option ng-repeat="type in categories" value="{{type._id}}">{{type.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Priority</label>
				<select class="form-control" ng-model="todo.priority" ng-options="type._id as type.name for type in priorities">
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-block">
			</div>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6"></div>
		<div class="col-md-3"></div>
	</div>
</div>
