<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Todo List</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form class="form-inline">
			<label>Search:</label>
 		   	<input type="text" class="form-control" ng-model="query">
			<input type="button" class="btn btn-default" ng-click="addOne()" value="Add">
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-12"><span></span></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<pagination class="pull-right" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr class="info">
						<th>Short Description</th>
						<th>Description</th>
						<th>Category</th>
						<th>Due Date</th>
						<th>Priority</th>
						<th>Status</th>
						<th>Create Date</th>
						<th>Edit</th>
						<th>Abandon</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-dblclick="showDetail(todo._id)" ng-repeat="todo in todos | filter: query">
						<td>{{todo.shortDesc}}</td>
						<td>{{todo.description | limitTo:20}}</td>
						<td>{{todo.category.name}}</td>
						<td>{{todo.dateDue | date:'yyyy-MM-dd'}}</td>
						<td>{{todo.priority.name}}</td>
						<td>{{todo.status.name}}</td>
						<td>{{todo.dateCreated | date:'yyyy-MM-dd'}}</td>
						<td><button type="button" class="btn btn-primary" ng-click="editTodo(todo._id)">EDIT</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="abandonTodo(todo._id)">ABANDON</button></td>
						<td><button type="button" class="btn btn-info" ng-click="doneTodo(todo._id)">DONE</button></td>
					</tr>
				</tbody>
			</table>
			<pagination class="pull-right" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
