<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Todo List</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form class="form-inline">
			<label>Search:</label>
 		   	<input type="text" class="form-control" ng-model="query">
			<input type="button" class="btn btn-default" ng-click="addOne()" value="Add">
			<label class="checkbox"><input id="chk_normal" type="checkbox" ng-model="shouldShowNormal" ng-change="updateTDTodos()">Normal</label>
			<label class="checkbox"><input id="chk_done" type="checkbox" ng-model="shouldShowDone" ng-change="updateTDTodos()">Done</label>
			<label class="checkbox"><input id="chk_abandon" type="checkbox" ng-model="shouldShowAbandon" ng-change="updateTDTodos()">Abandon</label>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-12"><span></span></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<pagination class="pull-right" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr class="info">
						<th>Short Description</th>
						<th>Description</th>
						<th>Category</th>
						<th>Due Date</th>
						<th>Priority</th>
						<th>Status</th>
						<th>Create Date</th>
						<th>Edit</th>
						<th>Abandon</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-dblclick="showDetail(todo.id)" ng-repeat="todo in todos | filter: query">
						<td>{{todo.shortDesc}}</td>
						<td>{{todo.description | limitTo:20}}</td>
						<td>{{todo.categoryLabel}}</td>
						<td>{{todo.dateDue | date:'yyyy-MM-dd'}}</td>
						<td>{{todo.priorityLabel}}</td>
						<td>{{todo.stateLabel}}</td>
						<td>{{todo.dateCreation | date:'yyyy-MM-dd'}}</td>
						<td><button ng-disabled="todo.stateLabel.toUpperCase()!=='NORMAL'" type="button" class="btn btn-primary" ng-click="editTodo(todo.id)">EDIT</button></td>
						<td><button ng-disabled="todo.stateLabel.toUpperCase()!=='NORMAL'" type="button" class="btn btn-danger" ng-click="abandonTodo(todo.id)">ABANDON</button></td>
						<td><button ng-disabled="todo.stateLabel.toUpperCase()!=='NORMAL'" type="button" class="btn btn-info" ng-click="doneTodo(todo.id)">DONE</button></td>
					</tr>
				</tbody>
			</table>
			<pagination class="pull-right" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
