<div class="container">
	<div class="row">
		<div class="col-md-12"><h1 class="text-center">MC Origin Detail</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<toaster-container toaster-options="{'time-out': 2000, 'close-button':true,'newestOnTop':true,'animation-class': 'toast-top-center','show-Duration':10,'hide-Duration':10}"></toaster-container>
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()" dismiss-on-timeout="{{alert.timeout}}"><span class="glyphicon glyphicon-{{alert.sign}}" aria-hidden="true"></span>{{alert.msg}}</alert>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class=col-md-12">
					<alert type="{{linkStateType}}">{{linkStateMsg}}</alert>
					<form name="f_updateLink" ng-submit="updateLink()">
						<input class="form-control" type="submit" value="Update Link">
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">mcFinal: {{mco.mcFinal}}</div>
			</div>
			<div class="row">
				<div class="col-md-12" ng-bind-html="mco.tableContent"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="button" class="form-control" value="Load Pictures" ng-click="loadPictures()">
					<div class="row" ng-repeat="pic in orgPics track by $index">
						<img src="{{pic}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<input type="button" class="form-control" ng-click="reloadTypes()" value="Refresh Types">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form name="f_loadModel" ng-submit="loadMCModel()">
						<div class="form-group">
							<label>Model ID</label>
							<input class="form-control" type="text" ng-model="model.id">
						</div>
						<input class="form-control" type="submit" value="Load Model">
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<accordion close-others="false">
						<accordion-group is-open="io_model">
						<accordion-heading>Model <span class="label {{stateExisted.model.type}}">{{stateExisted.model.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_model, 'glyphicon-chevron-right': !io_model}"></i></accordion-heading>
							<form name="f_model" ng-submit="submitModel()">
								<div class="form-group">
									<label>Maker</label>
									<select ng-model="model.maker" class="form-control" ng-options="maker.id as maker.label for maker in makers"></select>
								</div>
								<div class="form-group">
									<label>Model Name</label>
									<input type="text" class="form-control" require ng-model="model.label" ng-maxlength="100">
								</div>
								<div class="form-group">
									<label>Start Year</label>
									<input type="text" class="form-control" require ng-model="model.yearStart" ng-maxlength="4">
								</div>
								<div class="form-group">
									<label>End Year</label>
									<input type="text" class="form-control" ng-model="model.yearEnd" ng-maxlength="4">
								</div>
								<div class="form-group">
									<label>Type</label>
									<select ng-model="model.type" class="form-control" ng-options="type.id as type.label for type in modelTypes"></select>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-block" value="Update">
								</div>
							</form>
						</accordion-group>
						<accordion-group is-open="io_engine">
							<accordion-heading>Engine <span class="label {{stateExisted.engine.type}}">{{stateExisted.engine.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_engine, 'glyphicon-chevron-right': !io_engine}"></i></accordion-heading>
							<form name="f_engine" ng-submit="submitEngine()">
								<div class="form-group">
									<label>Cylinder Count</label>
									<input type="text" class="form-control" ng-model="engine.engCylCount">
								</div>
								<div class="form-group">
									<label>Format</label>
									<select ng-model="engine.engFormat" class="form-control" ng-options="type.id as type.label for type in engFormats"></select>
								</div>
								<div class="form-group">
									<label>Mount</label>
									<select ng-model="engine.engMount" class="form-control" ng-options="type.id as type.label for type in engMounts"></select>
								</div>
								<div class="form-group">
									<label>Type</label>
									<select ng-model="engine.engType" class="form-control" ng-options="type.id as type.label for type in engTypes"></select>
								</div>
								<div class="form-group">
									<label>Count of inlet valves</label>
									<input type="text" class="form-control" ng-model="engine.engCylValveInlet">
								</div>
								<div class="form-group">
									<label>Count of exhaust valves</label>
									<input type="text" class="form-control" ng-model="engine.engCylValveExhaust">
								</div>
								<div class="form-group">
									<label>Cam Type</label>
									<select ng-model="engine.engCamType" class="form-control" ng-options="type.id as type.label for type in engCamTypes"></select>
								</div>
								<div class="form-group">
									<label>Capacity</label>
									<input type="text" class="form-control" ng-model="engine.engCapacity">
								</div>
								<div class="form-group">
									<label>Bore</label>
									<input type="text" class="form-control" ng-model="engine.engBore">
								</div>
								<div class="form-group">
									<label>Stroke</label>
									<input type="text" class="form-control" ng-model="engine.engStroke">
								</div>
								<div class="form-group">
									<label>Compression Ratio</label>
									<input type="text" class="form-control" ng-model="engine.engCompressionRatio">
								</div>
								<div class="form-group">
									<label>Cooling</label>
									<select ng-model="engine.engCooling" class="form-control" ng-options="type.id as type.label for type in engCoolings"></select>
								</div>
								<div class="form-group">
									<label>Lubrication</label>
									<select ng-model="engine.engLubrication" class="form-control" ng-options="type.id as type.label for type in engLubrications"></select>
								</div>
								<div class="form-group">
									<label>Induction Type</label>
									<select ng-model="engine.engInductionType" class="form-control" ng-options="type.id as type.label for type in engInductionTypes"></select>
								</div>
								<div class="form-group">
									<label>Induction Throttle Body Diameter</label>
									<input type="text" class="form-control" ng-model="engine.engInductionTBDiameter">
								</div>
								<div class="form-group">
									<label>Induction Description</label>
									<input type="text" class="form-control" ng-model="engine.engInductionDesc">
								</div>
								<div class="form-group">
									<label>Max Power (HP)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxPowerHP">
								</div>
								<div class="form-group">
									<label>Max Power (KW)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxPowerKW">
								</div>
								<div class="form-group">
									<label>Max Power (RPM)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxPowerRPM">
								</div>
								<div class="form-group">
									<label>Max Torque (NM)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxTorqueNM">
								</div>
								<div class="form-group">
									<label>Max Torque (FT LB)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxTorqueFTLB">
								</div>
								<div class="form-group">
									<label>Max Torque (RPM)</label>
									<input type="text" class="form-control" ng-model="engine.engMaxTorqueRPM">
								</div>
								<div class="form-group">
									<label>Clutch Operation Method</label>
									<select ng-model="engine.engClutchOperation" class="form-control" ng-options="type.id as type.label for type in engClutchOperations"></select>
								</div>
								<div class="form-group">
									<label>Clutch Type</label>
									<select ng-model="engine.engClutchType" class="form-control" ng-options="type.id as type.label for type in engClutchTypes"></select>
								</div>
								<div class="form-group">
									<label>Count of Clutch Plate</label>
									<input type="text" class="form-control" ng-model="engine.engClutchPlateCount">
								</div>
								<div class="form-group">
									<label>Ignition</label>
									<select ng-model="engine.engIgnition" class="form-control" ng-options="type.id as type.label for type in engIgnitions"></select>
								</div>
								<div class="form-group">
									<label>Starting Method</label>
									<select ng-model="engine.engStarting" class="form-control" ng-options="type.id as type.label for type in engStartings"></select>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-block" value="Update">
								</div>
							</form>
						</accordion-group>
						<accordion-group is-open="io_frame">
							<accordion-heading>Frame <span class="label {{stateExisted.frame.type}}">{{stateExisted.frame.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_frame, 'glyphicon-chevron-right': !io_frame}"></i></accordion-heading>
						</accordion-group>
						<accordion-group is-open="io_suspension">
							<accordion-heading>Suspension <span class="label {{stateExisted.suspension.type}}">{{stateExisted.suspension.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_suspension, 'glyphicon-chevron-right': !io_suspension}"></i></accordion-heading>
						</accordion-group>
						<accordion-group is-open="io_brake">
							<accordion-heading>Brake <span class="label {{stateExisted.brake.type}}">{{stateExisted.brake.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_brake, 'glyphicon-chevron-right': !io_brake}"></i></accordion-heading>
						</accordion-group>
						<accordion-group is-open="io_wheel">
							<accordion-heading>Wheel <span class="label {{stateExisted.wheel.type}}">{{stateExisted.wheel.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_wheel, 'glyphicon-chevron-right': !io_wheel}"></i></accordion-heading>
						</accordion-group>
						<accordion-group is-open="io_dimension">
							<accordion-heading>Dimension <span class="label {{stateExisted.dimension.type}}">{{stateExisted.dimension.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_dimension, 'glyphicon-chevron-right': !io_dimension}"></i></accordion-heading>
						</accordion-group>
						<accordion-group is-open="io_drive">
							<accordion-heading>Drive <span class="label {{stateExisted.drive.type}}">{{stateExisted.drive.msg}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': io_drive, 'glyphicon-chevron-right': !io_drive}"></i></accordion-heading>
						</accordion-group>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</div>
